body{
    background-color: pink;
    text-align: center;
}

h1{
    color: red ;
}

ol {
    width: 35%;
    display: block;
    margin: 0 auto;
}

#drake {
background-color: blue;
font-size: 20px;
}

#drake li {
    color:white;
    Text-align: center;
}

#taylor {
    background-color: green;
    
}

#harry {
    background-color: yellow;
    
}

#liluzivert {
    background-color:orange;
    
}

#rihanaa {
    background-color:navy;
    
}

#kanye {
    background-color:white;
    
}

#sia {
    Background-color:purple;
    
}

#coldplay {
background-color:magenta;

}

#shawn {
    background-color:maroon;
    
}

#selena {
    background-color:teal;
    
}
